body {
  text-align: center;
  background-color: rgb(131, 131, 252);
  color: rgb(6, 252, 6);
}

.catPhotos {
  display: flex;
  justify-content: center;
  grid-gap: 1em;
  grid-auto-flow: dense;
  margin-left: 10px;
}

figcaption,
li,
fieldset {
  font-size: 1.5em;
  color: white;
  font-family: helvetica;
}

fieldset {
  padding: 0.8em;
  border: 3px dotted rgb(6, 252, 6);
  background-color: red;
}

#submit,
.catphotourl {
  display: flex;
  flex-wrap: nowrap;
  font-size: 1.5em;
  padding: 10px;
  background-color: red;
  color: white;
}

h1,
h2,
h3 {
  font-size: 2em;
  font-family: sans-serif;
}

.catLists {
  display: grid;
  flex-wrap: nowrap;
  text-align: left;
}

figure {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
}

/* Psuedo classes */

a:hover {
  color: white;
}
